// Responsive Variables
$xxl: "only screen and (min-width: 1601px) and (max-width: 1900px)";
$xl: "only screen and (min-width: 1601px) and (max-width: 1800px)";
$laptop: "only screen and (min-width: 1200px) and (max-width: 1600px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1200px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";

//Landscape-responsive
$xs-landscape: "only screen and (min-width: 540px) and (max-width: 767px) and (orientation: landscape)";

.contact-area {
    padding: 100px 0 0 0;

    .container {
        .contact-form {
            padding-bottom: 100px;
            .section-header{
                .wrapper{
                    .sub-content{
                        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, .06);
                        display: inline-block;
                        padding-left: 15px;
                        padding-right: 15px;
                        margin-bottom: 15px;
                        background: #fff;
                        border-radius: 50px;
                        .sub-text{
                        color: #000;
                        font-size: 15px;
                        font-weight: 400;
                        margin-top: 0;
                        position: relative;
                        display: unset;
                        padding: 0 10px;
                        }
                    }
                    .title{
                        font-size: 40px;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #000000;
                    }
                }
            }

            .post-title {
                font-size: 26px;
                margin-bottom: 5px;
                padding-top: 30px;
                line-height: 1;

                @media(max-width:450px) {
                    font-size: 20px;
                }
            }

            .sub-title {
                font-size: 14px;
                color: #666666;
                font-weight: 300;
                padding-bottom: 35px;
            }

            .info-form {

                padding: 0;

                .input-box {
                    position: relative;
                    z-index: 1;
                    margin-bottom: 30px;

                    @media(max-width:576px) {
                        margin-bottom: 10px;
                    }

                    textarea {
                        border: 1px solid #DDDDDD;
                        border-radius: 6px;
                        box-shadow: none;
                        padding-left: 25px;
                        color: #777777;
                        font-size: 14px;
                        background-color: #ffffff;
                        width: 100%;
                        height: 100%;
                        padding-top: 16px;
                        resize: none;
                        position: relative;
                        z-index: 1;
                        &::placeholder{
                            font-size: 16px;
                        }
                        &:focus{
                            outline: 1px solid $bg--base2;
                        }
                    }

                    input {
                        border: 1px solid #DDDDDD;
                        border-radius: 6px;
                        box-shadow: none;
                        padding-left: 25px;
                        height: 55px;
                        color: #777777;
                        font-size: 14px;
                        background-color: #ffffff;
                        position: relative;
                        width: 100%;
                        z-index: 1;
                        &::placeholder{
                            font-size: 16px;
                        }
                        &:focus{
                            outline: 1px solid $bg--base2;
                        }
                    }
                }

                .form-btn {
                    background: $bg--base2;
                    color: #ffffff;
                    border: 1px solid $bg--base2;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1;
                    padding: 21px 40px;
                    border-radius: 5px;
                    transition: all 0.4s ease 0s;

                    &:hover {
                       background: none;
                       color: $bg--base2;
                    }
                    i{
                        margin-left: 10px;
                    }
                }
            }
        }

        .right-side {
            padding: 0 30px;

            @media(max-width:991px) {
                padding: 0;
            }

            .get-in-touch {
                background-color: #f9f9f9;
                padding: 50px 25px 50px 50px;
                border-radius: 5px;

                @media(max-width:1200px) {
                    padding: 50px 0 50px 25px;
                }

                @media(max-width:576px) {
                    padding: 25px 0 25px 15px;
                }

                h3 {
                    font-size: 26px;
                    margin-bottom: 30px;
                    line-height: 1;
                    font-weight: 600;
                }

                .contact {
                    padding: 0 35px;

                    ul {
                        li {
                            position: relative;
                            padding: 12px 0;
                            font-size: 16px;
                            color: #999999;
                            font-weight: 400;
                            cursor: pointer;
                            line-height: 26px;

                            a {
                                font-size: 16px;
                                color: #999999;
                                font-weight: 400;
                                transition: all .2s ease-in-out;
                                line-height: 26px;
                            }

                            &.one::before {
                                content: "\f3c5";
                                left: -35px;
                                top: 12px;
                                color: $bg--base2;
                                right: auto;
                                font-family: "Font awesome 5 Pro";
                                position: absolute;
                                font-size: 17px;
                                font-weight: 300;
                                z-index: 2;
                            }

                            &.two::before {
                                content: "\f095";
                                left: -35px;
                                top: 11px;
                                color: $bg--base2;
                                right: auto;
                                font-family: "Font awesome 5 Pro";
                                position: absolute;
                                font-size: 17px;
                                font-weight: 300;
                                z-index: 2;
                            }

                            &.three::before {
                                content: "\f017";
                                left: -35px;
                                top: 11px;
                                color: $bg--base2;
                                right: auto;
                                font-family: "Font awesome 5 Pro";
                                position: absolute;
                                font-size: 17px;
                                font-weight: 300;
                                z-index: 2;
                            }
                        }
                    }
                }
            }

            .section-button {
                text-align: center;

                @media(max-width:991px) {
                    margin-bottom: 50px;
                }

                .btn-1 {
                    margin: 25px 0 10px 0;
                    border: 1px solid #DDDDDD;
                    border-radius: 5px;
                    transition: all 0.4s ease 0s;


                    @media(max-width:400px) {
                        font-size: 14px;
                    }

                    &:hover {
                        background-color: $bg--base2;

                        a {
                            color: #fff;
                        }
                    }

                    a {
                        padding: 15px 20px;
                        display: block;

                        i {
                            margin-left: 10px;
                            font-weight: 500;
                        }
                    }
                }

                .btn-2 {
                    border: 1px solid #DDDDDD;
                    border-radius: 5px;
                    transition: all 0.4s ease 0s;

                    @media(max-width:400px) {
                        font-size: 14px;
                    }

                    &:hover {
                        background-color: $bg--base2;

                        a {
                            color: #fff;
                        }
                    }

                    a {
                        padding: 15px 20px;
                        display: block;

                        i {
                            margin-left: 10px;
                            font-weight: 500;
                        }
                    }
                }
            }

        }

    }
    .map{
        margin-bottom: 160px;
        p{
            iframe{
                width: 100%;
                height: 500px;
            }
        }
    }
}

.thanks-area {
    padding: 150px 0;

    @media(max-width:991px) {
        padding: 100px 0;
    }

    @media(max-width:576px) {
        padding: 75px 0;
    }

    .container {
        .section-inner {
            text-align: center;

            .section-icon {
                margin: 0 auto;
                width: 90px;
                height: 90px;
                font-size: 30px;
                padding: 24px 0;
                border: 2px solid #ebe9e9;
                text-align: center;
                border-radius: 50%;

                i {
                    margin: 0 auto;
                    font-size: 30px;
                    color: #99cc33;
                }
            }

            .section-title {
                margin: 35px 0;

                @media(max-width:450px) {
                    margin: 25px 0;
                }

                .sub-title {
                    padding-bottom: 25px;
                    font-size: 48px;
                    font-weight: 700;

                    @media(max-width:450px) {
                        font-size: 30px;
                        padding-bottom: 15px;
                    }
                }

                .sect-title {
                    color: #666666;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 28px;

                    @media(max-width:450px) {
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }

            .section-button {
                .btn-1 {
                    padding: 15px 30px;
                    margin: 0 0 25px 0;
                    border: 2px solid #f4f4f4;
                    border-radius: 8px;
                    transition: all 0.4s ease 0s;
                    background-color: #000;
                    color: #CBCBCB;


                    @media(max-width:400px) {
                        font-size: 14px;
                    }

                    &:hover {
                        color: #fff;

                        i {
                            transform: translateX(-10px);
                        }
                    }

                    i {
                        margin-right: 10px;
                        transition: all 0.4s ease 0s;
                    }
                }

                h3 {
                    color: #666666;
                    font-size: 14px;
                    font-weight: 300;

                    .btn-2 {
                        font-size: 14px;
                        font-weight: 700;
                        text-decoration: underline;
                        text-decoration-color: #999999;
                        text-decoration-thickness: 2px;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

.login-area {
    padding: 80px 0 140px 0;

    @media(max-width:450px) {
        padding: 50px 0;
    }

    .container {
        .login-form {
            margin-right: 20px;
            .section-title {
                margin-bottom: 40px;

                @media(max-width:450px) {
                    margin: 30px 0 10px 0;
                }

                h2 {
                    font-size: 28px;
                    line-height: 32px;
                    font-weight: 700;
                }
            }

            .card {
                .card-body {
                    padding: 50px 40px;

                    .form {
                        margin-bottom: 30px;

                        .form-label {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.5;
                            color: #444;
                        }

                        .form-control {
                            color: #000;
                            border: 1px solid #f4f4f4;
                            padding: 18px 15px 18px 30px;
                            border-radius: 5px;
                            &::placeholder{
                                color: #666666;
                            }
                            &:focus{
                                box-shadow: none !important;
                                outline: 1px solid $bg--base2 !important;
                            }
                        }

                        .password-input {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            position: relative;

                            .show-password-input {
                                position: absolute;
                                right: 10px;
                                cursor: pointer;

                                &::after {
                                    content: "\f06e";
                                    font-weight: 500;
                                    color: #777777;
                                    font-family: "Font awesome 5 Pro";
                                }
                            }
                        }

                        .btn {
                            text-align: center;
                            width: 200px;
                            height: 60px;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 700;
                            background-color: $bg--base2;
                            transition: all .3s ease-in-out;

                            &:hover {
                                background: #000;
                            }

                            i {
                                margin-left: 10px;
                                transition: all .3s ease-in-out;
                            }
                        }

                    }

                    .forgot-password {
                        font-size: 16px;
                        color: #444;
                        font-weight: 500;
                        margin-top: 18px;
                    }
                }
            }
        }
        .register-form {
            margin-left: 20px;
            .section-title {
                margin-bottom: 40px;

                @media(max-width:450px) {
                    margin: 30px 0 10px 0;
                }

                h2 {
                    font-size: 28px;
                    line-height: 32px;
                    font-weight: 700;
                }
            }

            .card {
                .card-body {
                    padding: 50px 40px;

                    .form {
                        margin-bottom: 30px;

                        .form-label {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.5;
                            color: #444;
                        }

                        .form-control {
                            color: #666666;
                            border: 1px solid #f4f4f4;
                            padding: 18px 15px 18px 30px;
                            border-radius: 5px;
                            &:focus{
                                box-shadow: none !important;
                                outline: 1px solid $bg--base2 !important;
                            }
                        }

                        .password-input {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            position: relative;

                            .show-password-input {
                                position: absolute;
                                right: 10px;
                                cursor: pointer;

                                &::after {
                                    content: "\f06e";
                                    font-weight: 500;
                                    color: #777777;
                                    font-family: "Font awesome 5 Pro";
                                }
                            }
                        }

                        .btn {
                            text-align: center;
                            width: 200px;
                            height: 60px;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 700;
                            background-color: $bg--base2;
                            transition: all .3s ease-in-out;

                            &:hover {
                                background: #000;
                            }

                            i {
                                margin-left: 10px;
                                transition: all .3s ease-in-out;
                            }
                        }

                    }

                    .forgot-password {
                        font-size: 16px;
                        color: #444;
                        font-weight: 500;
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}