.floating-elements {
  .floating-item {
    position: absolute;
  }
}

.banner5.floating-elements {
  z-index: 10;

  .item1 {
    right: 20px;
    bottom: -110px;
  }

  .item2 {
    left: 50px;
    top: 100px;
  }

  .item3 {
    left: 80px;
    bottom: -20px;
  }
}