/**------------------------------------------------------------------
 * Preloader Start Here
 */
#rts__preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


@keyframes preloader {
  0% {
    transform: scale(60%) rotate(0deg);
  }

  50% {
    transform: scale(60%) rotate(90deg);
  }

  100% {
    transform: scale(60%) rotate(360deg);
  }
}

@keyframes preloaderbg {
  0% {
    background: $white-color;
    backdrop-filter: blur(9px);
  }

  100% {
    background: rgba(255, 255, 255, 0);

  }
}

.preloader {
  background: #fff;
  color: #000;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  &-mask {
    overflow: hidden;
    padding-right: 2px;
  }

  &-text {
    margin: 0;
    font-size: 40px;
    transform: translateY(135%);
    transition: transform .3s cubic-bezier(.4, -0.19, .42, 1.3);
  }

  .animate {
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.4, -0.19, .42, 1.3);

    &.slide-up {
      animation-name: slideUp;
    }

    &.delay-1 {
      animation-delay: .2s
    }

    &.delay-2 {
      animation-delay: .4s
    }
  }

  &.loaded {
    .animate {
      animation-name: slideDown;
      animation-delay: .6s;

      &.delay-1 {
        animation-delay: .4s
      }

      &.delay-2 {
        animation-delay: .2s;
      }
    }
  }
}


@keyframes slideUp {
  0% {
    transform: translateY(135%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-135%);
  }
}

#weiboo-load {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/**------------------------------------------------------------------
 * Preloader End Here
 */