// Main Menu Start -----------------------------------------
.rts-menu {
	.has-dropdown {
		.menu-item {
			i {
				transition: transform 300ms ease-in-out;
				margin-left: 0px;
				font-size: 12px;
				display: inline-block;
			}
		}

		&:hover {
			.menu-item {
				i {
					transform: rotate(180deg);
				}
			}
		}

		ul {
			.has-dropdown {
				&:hover {
					a {
						i {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}

	.dropdown-ul {
		padding: 0;
		background: $white-color;
		border-top: 3px solid var(--theme-color);
		box-shadow: 9px 9px 22px -1px rgba(0, 0, 0, 0.12);
	}

	.dropdown-li {
		margin: 0;
		padding: 0;
	}

	.dropdown-link,
	.dropdown-sub-link {
		padding: 15px 20px;
		padding-right: 100px;
		background: $white-color;
		border-bottom: 1px solid rgb(242, 242, 242);
		transition: padding 400ms ease;

		&::before {
			content: '';
			position: absolute;
			top: 25px;
			left: 12px;
			width: 6px;
			height: 2px;
			background: $text-color1;
			transition: all 400ms ease;
			transform: scale(0);

		}

		&:hover {
			padding: 15px 30px;
			padding-right: 90px;

			&::before {
				transform: scale(1);
			}
		}
	}

	.sub-dropdown {
		left: 100%;
		top: -1px;
		border-top: 3px solid var(--theme-color);
	}

	.has-dropdown.second-level {
		a {
			i {
				margin-left: 10px;
			}
		}
	}

}

.side-mobile-menu1 {
	&.side-mobile-menu2{
		.has-dropdown {
			.mm-link {
				&:hover {
					color: var(--theme-color);
				}
			}
	
			&.firstlvl.mm-active {
				.mm-link {
					color: var(--theme-color);
				}
			}
	
			&.thirdlvl.mm-active {
				.mm-link-3 {
					color: var(--theme-color);
				}
			}
		}
	}
	ul {
		li {
			a {
				&:hover {
					color: var(--theme-color);
				}
			}
		}
	}

	.has-dropdown {
		.mm-link {
			&:hover {
				color: var(--theme-color);
			}
		}

		&.firstlvl.mm-active {
			.mm-link {
				color: $bg--base2;
			}
		}

		&.thirdlvl.mm-active {
			.mm-link-3 {
				color: var(--theme-color);
			}
		}
	}
}

.slider-navigation {
	display: flex;
}

.navigation-btn {
	background: $white-color;
	border: 2px solid rgba(14, 16, 19, 0.1);
	border-radius: 6px;
	padding: 10px 18px;
	transition: $td-500ms;

	&:hover {
		background: $brand-color;
		color: $white-color;
	}

	i {
		font-size: 18px;
		transform: translateY(2px);
	}
}

.swiper-button-prev {
	margin-right: 7px;
}


.hamburger {
	display: none;
	position: relative;
	right: unset;
	padding: 10px 25px 11px 0px;
	margin-left: 30px;
	cursor: pointer;

	@media(max-width: 768px) {
		display: unset;
	}

	@media(max-width: 400px) {
		margin-left: 15px;

	}

	&.move {
		z-index: 10;
	}
}
.hamburger-1 {
	display: block;
	position: relative;
	right: unset;
	padding: 0 0 25px 0;
	margin-right: 70px;
	cursor: pointer;

	@media(max-width: 900px) {
		display: unset;
	}

	@media(max-width: 400px) {
		margin-left: 15px;

	}

	&.move {
		z-index: 10;
	}
}

.mobile-hamburger {
	position: absolute;
	top: 6px;
	right: -7px;
	transform: scale(70%);
	padding: 25px 30px;
	background: #ffffff40;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.152);
	display: grid;
	place-items: center;

	&:hover {

		span,
		span:before,
		span:after {
			background: $brand-color;
		}
	}
}
.mobile-hamburger-1 {
	position: absolute;
	top: -25px;
	left: -40px;
	transform: scale(70%);
	padding: 20px 20px;
	background: #ffffff40;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.152);
	display: grid;
	place-items: center;
	border-radius: 6px;
	background: #E32020;
	&.mobile-hamburger-2{
		background: var(--theme-color);
		&.active{
			span{
				background: var(--theme-color);
			}
		}
		&:hover {

			span,
			span:before,
			span:after {
				background: var(--theme-color);
			}
		}
	}
	span{
		font-size: 24px;
		color: $white-color;
	}

	&:hover {

		span,
		span:before,
		span:after {
			background: $brand-color;
		}
	}
}


.hamburger span,
.hamburger span:before,
.hamburger span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 2px;
	width: 35px;
	background: $themebg-color;
	position: absolute;
	display: inline-block;
	content: '';

	@media(max-width: 1200px) {
		width: 25px;
	}
}
.hamburger-1{
	.nav-menu-link{
		content: '';
		cursor: pointer;
		position: absolute;
		padding: 0;
		border-radius: 1px;
		height: 30px;
		width: 30px;
		&::before{
			content: '';
			position: absolute;
			width: 1px;
			height: 35px;
			background: #E8E8E8;
			right: -15px;
			top: -5px;
		}
		span{
			display: block;
			background: #ee403d;
			transition: none;
			display: inline-block;
			cursor: pointer;
			list-style: none;
			margin: 2px 2px;
			@media(max-width: 1200px) {
				width: 25px;
			}
			&.dot1,
			&.dot2,
			&.dot3,
			&.dot4,
			&.dot5,
			&.dot6,
			&.dot7,
			&.dot8,
			&.dot9{
				width: 4px !important;
				height: 4px !important;
				border-radius: 50%;
				float: left;
			}
		}
	}
}

.hamburger span:before {
	top: -7px;
}

.hamburger span:after {
	bottom: -7px;
}

#hamburger span,
#hamburger span:before,
#hamburger span:after {
	transition: all 200ms ease-in-out;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	/* easeInOutCubic */
}

.hamburger.active span {
	background-color: transparent;
}

.hamburger.active span:before,
.hamburger.active span:after {
	top: 0;
}

.hamburger.active span:before {
	transform: rotate(45deg);
}

.hamburger.active span:after {
	transform: translateY(-10px) rotate(-45deg);
	top: 10px;
}
.hamburger-1 span:before {
	top: -7px;
}

.hamburger-1 span:after {
	bottom: -7px;
}

#hamburger-1 span,
#hamburger-1 span:before,
#hamburger-1 span:after {
	transition: all 200ms ease-in-out;
}

.hamburger-1 span,
.hamburger-1 span:before,
.hamburger-1 span:after {
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	/* easeInOutCubic */
}

.hamburger-1.active span {
	background-color: #E32020;
}

.hamburger-1.active span:before,
.hamburger-1.active span:after {
	top: 0;
}

.hamburger-1.active span:before {
	transform: rotate(45deg);
}

.hamburger-1.active span:after {
	transform: translateY(-10px) rotate(-45deg);
	top: 10px;
}

// Mobile menu
.slide-bar {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: -100%;
	width: 365px;
	padding: 40px 30px;
	padding-top: 50px;
	height: 100%;
	display: block;
	background-color: $white-color;
	backdrop-filter: blur(7px);
	z-index: 1900;
	transition: all 600ms ease;
	box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
	overflow: scroll;
	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		display: none;
	}

	@media(max-width: 500px) {
		width: 100%;
	}

	.header-action-items {
		display: none;
		margin-top: auto;
	}

	@media(max-width: 370px) {
		.header-action-items {
			display: flex;
		}
	}
}

.slide-bar.show {
	right: 0;
}

.open-mobile-menu {
	display: inline-block;

	a {
		display: block;
		width: 50px;
		height: 50px;
		background: #212121;
		text-align: center;
		line-height: 50px;
		font-size: 16px;
		margin-left: 20px;
		color: #fff;

		&:hover {}
	}
}

.close-mobile-menu {
	position: absolute;
	top: 10px;
	left: 10px;
	background: gray;
	padding: 10px 20px;

	a {
		position: relative;
		z-index: 2;
		font-size: 16px;
		left: 0;

		&:hover {
			color: #ff0000;
		}
	}
}

.on-side {
	overflow: hidden;
}

.body-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1010;
	left: 0;
	opacity: 0;
	display: none;
}

.body-overlay.active {
	opacity: 1;
	display: block;
}

.side-mobile-menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			a {
				padding: 25px 0;
				display: block;
				border-bottom: 1px solid rgba(0, 0, 0, 0.05);
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				position: relative;
				transition: all 300ms;

				&:hover {
					padding-left: 5px;
				}

				a:after {
					position: absolute;
					content: "\e80a";
					width: 8px;
					height: 8px;
					border-width: 2px 0 0 2px;
					border-style: solid;
					border-color: initial;
					right: 0;
					top: 50%;
					-webkit-transform: rotate(-45deg) translateY(-50%);
					transform: rotate(-45deg) translateY(-50%);
					-webkit-transform-origin: top;
					transform-origin: top;
					-webkit-transition: all 0.3s ease-out;
					transition: all 0.3s ease-out;
				}
			}

			ul {
				padding-left: 0;
				list-style: none;

				li {
					padding-left: 15px;

					&:hover {
						>a {
							padding-left: 20px;
						}
					}

					a {
						position: relative;
						padding-left: 15px;
						text-transform: capitalize;
						font-size: 14px;

						&:before {
							content: "";
							width: 8px;
							height: 8px;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							border-radius: 50%;
						}
					}
				}
			}
		}

		li.has-has-dropdown {
			>a {
				&:after {
					position: absolute;
					content: "";
					width: 8px;
					height: 8px;
					border-width: 2px 0 0 2px;
					border-style: solid;
					border-color: initial;
					right: 0;
					top: 50%;
					-webkit-transform: rotate(-45deg) translateY(-50%);
					transform: rotate(-45deg) translateY(-50%);
					-webkit-transform-origin: top;
					transform-origin: top;
					transition: all 0.3s ease-out;
				}
			}
		}
	}
}

.offset-sidebar {
	position: relative;

	.scrollbar-hidden::-webkit-scrollbar {
		display: none !important;
	}

	.offset-sidebar-bg {
		position: absolute;
		bottom: -250px;
		left: 65%;
		transform: translateX(-50%);
		width: 170%;
		height: 380px;

		img {
			max-width: 100%;
		}
	}
}

.offset-widget {
	&.offset-logo {
		padding-top: 10px;
		padding-bottom: 30px;
		text-align: start;
	}

	& .info-widget {
		& .offset-title {
			font-size: 20px;
			font-weight: 800;
		}

		& p {
			color: #999999;
		}

		&.info-widget2 {
			& p {
				margin-bottom: 35px;

				i {
					margin-right: 7px;
				}
			}
		}

		.city-widget-item {
			i {
				width: 50px;
				color: red;
			}
		}
	}

	.offset-social-link {
		margin-bottom: 80px;
	}

	.social-icons {
		width: auto;
		display: flex;
		justify-content: start;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			aspect-ratio: 1;
			border-radius: 50%;
			margin-right: 10px;

			&:last-child {
				margin-right: inherit;
			}
		}

		a.fb {
			background: #1877f2;
		}

		a.ttr {
			background: #1da1f2;
		}

		a.yh {
			background: #410093;
		}

		a.yt {
			background: #cd201f;
		}

		i {
			color: white;
			font-size: 14px;
		}
	}

	.slidebar-address {
		margin-bottom: 40px;

		span {
			font-size: 20px;
			font-weight: 600;
			line-height: 10px;
		}

		p {
			margin-top: 16px;
			max-width: 180px;
			font-size: 16px;
		}
	}

	.offset-sidebar-btn {
		width: 100%;
		text-align: center;

		i {
			margin-left: 10px;
		}
	}
}

.mm-link {
	font-size: 15px;
	position: relative;

	i {
		position: absolute;
		top: 25%;
		right: 0;
		transition: all 300ms ease-in-out;
	}
}

.mm-active {
	.mm-link {
		i {
			top: 25%;
			transform: rotate(180deg);
		}
	}
}

.side-mobile-menu1 {
	.firstlvl.mm-active {
		.mm-link {
			color: var(--theme-color);
		}
	}

	.thirdlvl.mm-active {
		.mm-link-3 {
			color: var(--theme-color);

			&::after {
				transform: rotate(225deg) !important;
			}
		}
	}
}

.sub-menu a {
	&:hover {
		color: var(--theme-color);
	}
}

// Main Menu End -----------------------------------------